.cardImage{
    height: 300px;
}
.cardImage img{
    height: 100%;
    object-fit: contain;
}
.cardText{
    font-size: 12px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cardText p {
    margin: 0
}
:global(.card-title){
    height: 2.75rem;
}
.orange{
    color: #EF694C;
}
.card:hover {
    box-shadow: 0 1px 6px #EF694C !important;
}